* {
    margin: 0;
    padding: 0;
}


.menu {
    background: tomato;
    height: 30px;
    text-align: center;
    padding: 5px;
    color: white;

}

.menu a {
    /* margin-top: 2px; */
    text-decoration: none;
    color: wheat;
}